/*! mochawesome-report-generator 6.2.0 | https://github.com/adamgruber/mochawesome-report-generator */
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.dropdown--trans-color---3ixtY {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.dropdown--component---21Q9c {
  position: relative;
}
.dropdown--toggle---3gdzr {
  white-space: nowrap;
}
.dropdown--toggle-icon---1j9Ga:not(.dropdown--icon-only---3vq2I) {
  margin-left: 0.5rem;
}
.dropdown--list---8GPrA {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.dropdown--list-main---3QZnQ {
  position: absolute;
  top: 100%;
  z-index: 1000;
  visibility: hidden;
  min-width: 160px;
  overflow: auto;
}
.dropdown--align-left---3-3Hu {
  left: 0;
}
.dropdown--align-right---2ZQx0 {
  right: 0;
}
.dropdown--list-item-link---JRrOY,
.dropdown--list-item-text---2COKZ {
  display: block;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
}
.dropdown--list-item-text---2COKZ {
  cursor: default;
}
@-webkit-keyframes dropdown--in---FpwEb {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dropdown--in---FpwEb {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes dropdown--out---2HVe1 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
  }
}
@keyframes dropdown--out---2HVe1 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
  }
}
.dropdown--close---2LnDu {
  -webkit-animation: dropdown--out---2HVe1 0.2s ease;
  animation: dropdown--out---2HVe1 0.2s ease;
  -webkit-animation: dropdown--out---2HVe1 var(--default-transition-duration)
    var(--default-transition-easing);
  animation: dropdown--out---2HVe1 var(--default-transition-duration)
    var(--default-transition-easing);
  visibility: hidden;
}
.dropdown--open---3bwiy {
  -webkit-animation: dropdown--in---FpwEb 0.2s ease;
  animation: dropdown--in---FpwEb 0.2s ease;
  -webkit-animation: dropdown--in---FpwEb var(--default-transition-duration)
    var(--default-transition-easing);
  animation: dropdown--in---FpwEb var(--default-transition-duration)
    var(--default-transition-easing);
  visibility: visible;
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.dropdown-selector--trans-color---3nePW {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.dropdown-selector--dropdown---AT5ee {
  right: -8px;
}
.dropdown-selector--menu---nW4gv {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-family: robotolight;
  font-family: var(--font-family-light);
  min-width: 70px;
  width: 70px;
  background: #fff;
  top: 0;
}
.dropdown-selector--toggle---WEnEe {
  display: inline-block;
  font-family: robotoregular;
  font-family: var(--font-family-regular);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
  vertical-align: top;
  line-height: 24px;
  padding: 0 22px 0 0;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  width: 70px;
}
.dropdown-selector--toggle---WEnEe:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
}
.dropdown-selector--toggle-icon---10VKo {
  position: absolute;
  top: 4px;
  right: 4px;
}
.dropdown-selector--item-link---2W1T7,
.dropdown-selector--toggle-icon---10VKo {
  color: rgba(0, 0, 0, 0.38);
  color: var(--black38);
}
.dropdown-selector--item-link---2W1T7 {
  border: none;
  cursor: pointer;
  padding: 4px 10px;
  text-align: left;
  width: 100%;
}
.dropdown-selector--item-link---2W1T7:hover {
  background-color: #f5f5f5;
  background-color: var(--grey100);
}
.dropdown-selector--item-link---2W1T7:focus {
  box-shadow: inset 0 0 2px 0 #03a9f4;
  box-shadow: inset 0 0 2px 0 var(--ltblue500);
  outline: none;
}
.dropdown-selector--item-selected---1q-NK
  .dropdown-selector--item-link---2W1T7 {
  color: #4caf50;
  color: var(--green500);
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.footer--trans-color---205XF {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.footer--component---1WcTR {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  height: var(--footer-height);
  color: rgba(0, 0, 0, 0.38);
  color: var(--black38);
  text-align: center;
}
.footer--component---1WcTR p {
  font-size: 12px;
  margin: 10px 0;
}
.footer--component---1WcTR a {
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.footer--component---1WcTR a:hover {
  color: rgba(0, 0, 0, 0.87);
  color: var(--black87);
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.loader--trans-color---97r08 {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.loader--component---2grcA {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: color(#f2f2f2 alpha(60%));
  background-color: color(var(--body-bg) alpha(60%));
  padding-top: 122px;
  padding-top: var(--navbar-height);
}
.loader--wrap---3Fhrc {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 200px;
}
.loader--text---3Yu3g {
  color: color(#000 tint(46.7%));
  color: var(--gray-light);
  text-align: center;
  margin: 1rem 0 0;
}
.loader--spinner---2q6MO {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 0.25rem solid color(#000 tint(73.5%));
  border-top-color: color(#000 tint(33.5%));
  border: 0.25rem solid var(--gray-medium);
  border-top-color: var(--gray);
  -webkit-animation: loader--spin---K6Loh 1s linear infinite;
  animation: loader--spin---K6Loh 1s linear infinite;
}
@-webkit-keyframes loader--spin---K6Loh {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader--spin---K6Loh {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@media (min-width: 768px) {
  .loader--component---2grcA {
    padding-top: 56px;
    padding-top: var(--navbar-height-short);
  }
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.nav-menu--trans-color---1l-R- {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.nav-menu--wrap---39S_b {
  position: fixed;
  z-index: 2010;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-menu--overlay---k2Lwz {
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.nav-menu--close-btn---2m7W7 {
  border: none;
  background: transparent;
  padding: 0;
}
.nav-menu--close-btn---2m7W7:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
  outline: none;
}
.nav-menu--close-btn---2m7W7 {
  cursor: pointer;
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
}
.nav-menu--close-btn---2m7W7:active,
.nav-menu--close-btn---2m7W7:hover {
  color: rgba(0, 0, 0, 0.87);
  color: var(--black87);
}
.nav-menu--menu---lFcsl {
  position: absolute;
  transition: all 0.15s cubic-bezier(0.25, 1, 0.8, 1);
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
  width: 100%;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: #fff;
}
.nav-menu--close-button---2_OHr {
  border: none;
  background: transparent;
  padding: 0;
}
.nav-menu--close-button---2_OHr:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
  outline: none;
}
.nav-menu--close-button---2_OHr {
  cursor: pointer;
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 21px;
  width: 26px;
  height: 26px;
  color: color(#000 tint(33.5%));
  color: var(--gray);
}
.nav-menu--close-button---2_OHr:hover {
  color: color(#000 tint(20%));
  color: var(--gray-dark);
}
.nav-menu--date---3SYOi,
.nav-menu--section-head---3LXPD {
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
}
.nav-menu--section-head---3LXPD {
  text-transform: uppercase;
}
.nav-menu--control---1JEYH {
  display: -webkit-flex;
  display: flex;
  position: relative;
  margin: 8px 0;
  -webkit-align-items: center;
  align-items: center;
}
.nav-menu--control-label---3f2XU {
  display: inline-block;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: var(--font-family--regular);
  font-size: 13px;
  vertical-align: top;
  line-height: 24px;
}
.nav-menu--control-label---3f2XU.nav-menu--with-icon---qF4hj {
  margin-left: 12px;
}
.nav-menu--control-group---32kKg {
  margin-bottom: 10px;
}
.nav-menu--toggle-icon-passed---132lH {
  color: #4caf50;
  color: var(--green500);
}
.nav-menu--toggle-icon-failed---x-XUB {
  color: #f44336;
  color: var(--red500);
}
.nav-menu--toggle-icon-pending---3ZJAs {
  color: #03a9f4;
  color: var(--ltblue500);
}
.nav-menu--toggle-icon-skipped---FyedH {
  color: #9e9e9e;
  color: var(--grey500);
}
.nav-menu--wrap---39S_b.nav-menu--open---3BW1O {
  visibility: visible;
}
.nav-menu--wrap---39S_b.nav-menu--open---3BW1O .nav-menu--overlay---k2Lwz {
  opacity: 1;
}
.nav-menu--wrap---39S_b.nav-menu--open---3BW1O .nav-menu--menu---lFcsl {
  -webkit-transform: translate(0);
  transform: translate(0);
}
.nav-menu--section---2z7Dj {
  padding: 0 16px;
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid var(--grey300);
}
.nav-menu--list---2QMG9 {
  list-style: none;
  padding-left: 0;
}
.nav-menu--main---jkqJW {
  margin: 8px 0;
}
.nav-menu--no-tests---2sRAg
  > .nav-menu--item---gXWu6:not(.nav-menu--has-tests---1ND4g)
  > div
  > .nav-menu--sub---EnSIu {
  padding-left: 0;
}
.nav-menu--no-tests---2sRAg
  > .nav-menu--item---gXWu6:not(.nav-menu--has-tests---1ND4g):not(:only-child) {
  padding-left: 22px;
}
.nav-menu--sub---EnSIu {
  padding-left: 24px;
  margin: 0 0 2px;
}
.nav-menu--link---tywPF {
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  padding: 3px 0;
  color: color(#000 tint(33.5%));
  color: var(--gray);
}
.nav-menu--link---tywPF:hover {
  color: color(color(#428bca shade(6.5%)) shade(15%));
  color: var(--link-hover-color);
  text-decoration: none;
}
.nav-menu--link---tywPF:active,
.nav-menu--link---tywPF:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
  outline: none;
  text-decoration: none;
}
.nav-menu--link---tywPF span {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-menu--link-icon---1Q2NP {
  margin-right: 2px;
}
.nav-menu--link-icon---1Q2NP.nav-menu--pass---1PUeh {
  color: #4caf50;
  color: var(--green500);
}
.nav-menu--link-icon---1Q2NP.nav-menu--fail---3gQQa {
  color: #f44336;
  color: var(--red500);
}
.nav-menu--link-icon---1Q2NP.nav-menu--pending---9zAw0 {
  color: #03a9f4;
  color: var(--ltblue500);
}
.nav-menu--link-icon---1Q2NP.nav-menu--skipped---31GPM {
  color: #9e9e9e;
  color: var(--grey500);
}
.nav-menu--disabled---2MoA_ {
  opacity: 0.3;
  pointer-events: none;
}
@media (min-width: 768px) {
  .nav-menu--menu---lFcsl {
    width: 320px;
    left: auto;
  }
  .nav-menu--overlay---k2Lwz {
    display: block;
    position: fixed;
    transition: all 0.2s ease-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.trans-color {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-family: var(--headings-font-family);
  font-weight: 400;
  font-weight: var(--headings-font-weight);
  line-height: 1.1;
  line-height: var(--headings-line-height);
  color: inherit;
  color: var(--headings-color);
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: color(#000 tint(46.7%));
  color: var(--headings-small-color);
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-top: var(--line-height-computed);
  margin-bottom: 10px;
  margin-bottom: calc(var(--line-height-computed) / 2);
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-top: calc(var(--line-height-computed) / 2);
  margin-bottom: 10px;
  margin-bottom: calc(var(--line-height-computed) / 2);
}
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}
.h1,
h1 {
  font-size: 36px;
  font-size: var(--font-size-h1);
}
.h2,
h2 {
  font-size: 30px;
  font-size: var(--font-size-h2);
}
.h3,
h3 {
  font-size: 24px;
  font-size: var(--font-size-h3);
}
.h4,
h4 {
  font-size: 18px;
  font-size: var(--font-size-h4);
}
.h5,
h5 {
  font-size: 14px;
  font-size: var(--font-size-h5);
}
.h6,
h6 {
  font-size: 12px;
  font-size: var(--font-size-h6);
}
p {
  margin: 0 0 10px;
  margin: 0 0 calc(var(--line-height-computed) / 2);
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
  margin-bottom: calc(var(--line-height-computed) / 2);
}
  ol,
  ul {
    margin-bottom: 0;
  }

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
code {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-family: var(--font-family-mono);
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}
.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #a626a4;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e45649;
}
.hljs-literal {
  color: #0184bb;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #50a14f;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #986801;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #4078f2;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}
.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1;
}
.ct-chart-bar .ct-label,
.ct-chart-line .ct-label {
  display: block;
  display: -webkit-flex;
  display: flex;
}
.ct-chart-donut .ct-label,
.ct-chart-pie .ct-label {
  dominant-baseline: central;
}
.ct-label.ct-horizontal.ct-start {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.ct-label.ct-horizontal.ct-end,
.ct-label.ct-horizontal.ct-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}
.ct-label.ct-horizontal.ct-end {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.ct-label.ct-vertical.ct-start {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}
.ct-label.ct-vertical.ct-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}
.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}
.ct-grid-background {
  fill: none;
}
.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}
.ct-line {
  fill: none;
  stroke-width: 4px;
}
.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}
.ct-bar {
  fill: none;
  stroke-width: 10px;
}
.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: #d70206;
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie {
  fill: #d70206;
}
.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
  stroke: #f05b4f;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-donut-solid,
.ct-series-b .ct-slice-pie {
  fill: #f05b4f;
}
.ct-series-c .ct-bar,
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-slice-donut {
  stroke: #f4c63d;
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-slice-pie {
  fill: #f4c63d;
}
.ct-series-d .ct-bar,
.ct-series-d .ct-line,
.ct-series-d .ct-point,
.ct-series-d .ct-slice-donut {
  stroke: #d17905;
}
.ct-series-d .ct-area,
.ct-series-d .ct-slice-donut-solid,
.ct-series-d .ct-slice-pie {
  fill: #d17905;
}
.ct-series-e .ct-bar,
.ct-series-e .ct-line,
.ct-series-e .ct-point,
.ct-series-e .ct-slice-donut {
  stroke: #453d3f;
}
.ct-series-e .ct-area,
.ct-series-e .ct-slice-donut-solid,
.ct-series-e .ct-slice-pie {
  fill: #453d3f;
}
.ct-series-f .ct-bar,
.ct-series-f .ct-line,
.ct-series-f .ct-point,
.ct-series-f .ct-slice-donut {
  stroke: #59922b;
}
.ct-series-f .ct-area,
.ct-series-f .ct-slice-donut-solid,
.ct-series-f .ct-slice-pie {
  fill: #59922b;
}
.ct-series-g .ct-bar,
.ct-series-g .ct-line,
.ct-series-g .ct-point,
.ct-series-g .ct-slice-donut {
  stroke: #0544d3;
}
.ct-series-g .ct-area,
.ct-series-g .ct-slice-donut-solid,
.ct-series-g .ct-slice-pie {
  fill: #0544d3;
}
.ct-series-h .ct-bar,
.ct-series-h .ct-line,
.ct-series-h .ct-point,
.ct-series-h .ct-slice-donut {
  stroke: #6b0392;
}
.ct-series-h .ct-area,
.ct-series-h .ct-slice-donut-solid,
.ct-series-h .ct-slice-pie {
  fill: #6b0392;
}
.ct-series-i .ct-bar,
.ct-series-i .ct-line,
.ct-series-i .ct-point,
.ct-series-i .ct-slice-donut {
  stroke: #f05b4f;
}
.ct-series-i .ct-area,
.ct-series-i .ct-slice-donut-solid,
.ct-series-i .ct-slice-pie {
  fill: #f05b4f;
}
.ct-series-j .ct-bar,
.ct-series-j .ct-line,
.ct-series-j .ct-point,
.ct-series-j .ct-slice-donut {
  stroke: #dda458;
}
.ct-series-j .ct-area,
.ct-series-j .ct-slice-donut-solid,
.ct-series-j .ct-slice-pie {
  fill: #dda458;
}
.ct-series-k .ct-bar,
.ct-series-k .ct-line,
.ct-series-k .ct-point,
.ct-series-k .ct-slice-donut {
  stroke: #eacf7d;
}
.ct-series-k .ct-area,
.ct-series-k .ct-slice-donut-solid,
.ct-series-k .ct-slice-pie {
  fill: #eacf7d;
}
.ct-series-l .ct-bar,
.ct-series-l .ct-line,
.ct-series-l .ct-point,
.ct-series-l .ct-slice-donut {
  stroke: #86797d;
}
.ct-series-l .ct-area,
.ct-series-l .ct-slice-donut-solid,
.ct-series-l .ct-slice-pie {
  fill: #86797d;
}
.ct-series-m .ct-bar,
.ct-series-m .ct-line,
.ct-series-m .ct-point,
.ct-series-m .ct-slice-donut {
  stroke: #b2c326;
}
.ct-series-m .ct-area,
.ct-series-m .ct-slice-donut-solid,
.ct-series-m .ct-slice-pie {
  fill: #b2c326;
}
.ct-series-n .ct-bar,
.ct-series-n .ct-line,
.ct-series-n .ct-point,
.ct-series-n .ct-slice-donut {
  stroke: #6188e2;
}
.ct-series-n .ct-area,
.ct-series-n .ct-slice-donut-solid,
.ct-series-n .ct-slice-pie {
  fill: #6188e2;
}
.ct-series-o .ct-bar,
.ct-series-o .ct-line,
.ct-series-o .ct-point,
.ct-series-o .ct-slice-donut {
  stroke: #a748ca;
}
.ct-series-o .ct-area,
.ct-series-o .ct-slice-donut-solid,
.ct-series-o .ct-slice-pie {
  fill: #a748ca;
}
.ct-square {
  display: block;
  position: relative;
  width: 100%;
}
.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
.ct-square:after {
  content: "";
  display: table;
  clear: both;
}
.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}
.ct-minor-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.8888888889%;
}
.ct-major-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.3333333333%;
}
.ct-minor-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}
.ct-major-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}
.ct-perfect-fourth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.6666666667%;
}
.ct-perfect-fifth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}
.ct-minor-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.804697157%;
}
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}
.ct-major-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}
.ct-minor-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.3333333333%;
}
.ct-major-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}
.ct-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}
.ct-major-tenth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}
.ct-major-eleventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.3333333333%;
}
.ct-major-twelfth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
@font-face {
  font-family: robotolight;
  src: url(roboto-light-webfont.woff2) format("woff2"),
    url(roboto-light-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: robotomedium;
  src: url(roboto-medium-webfont.woff2) format("woff2"),
    url(roboto-medium-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: robotoregular;
  src: url(roboto-regular-webfont.woff2) format("woff2"),
    url(roboto-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.woff2) format("woff2"),
    url(MaterialIcons-Regular.woff) format("woff");
}
.material-icons {
  display: inline-block;
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: #fff;
}
.material-icons.md-light.md-inactive {
  color: hsla(0, 0%, 100%, 0.3);
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: robotoregular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-size: var(--font-size-base);
  line-height: 1.429;
  line-height: var(--line-height-base);
  color: rgba(0, 0, 0, 0.87);
  color: var(--text-color);
  background-color: #f2f2f2;
  background-color: var(--body-bg);
  margin-bottom: 60px;
  margin-bottom: var(--footer-height);
}
a {
  text-decoration: none;
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
a:hover {
  text-decoration: underline;
}
pre {
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
}
.cf:before,
.clearfix:before {
  content: " ";
  display: table;
}
.cf:after,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-left: calc(var(--grid-gutter-width) / 2);
  padding-right: 15px;
  padding-right: calc(var(--grid-gutter-width) / 2);
}
.row:after,
.row:before {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  margin-left: -15px;
  margin-left: calc(var(--grid-gutter-width) / -2);
  margin-right: -15px;
  margin-right: calc(var(--grid-gutter-width) / -2);
}
.details {
  padding-top: 146px;
  padding-top: calc(var(--navbar-height) + 24px);
}
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    width: var(--container-sm);
  }
  .details {
    padding-top: 80px;
    padding-top: calc(var(--navbar-height-short) + 24px);
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    width: var(--container-md);
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    width: var(--container-lg);
  }
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.navbar--trans-color---1tk7E {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.navbar--component---2UCEi:after,
.navbar--component---2UCEi:before {
  content: " ";
  display: table;
}
.navbar--component---2UCEi:after {
  clear: both;
}
.navbar--component---2UCEi {
  position: fixed;
  -webkit-flex-direction: column;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 122px;
  min-height: var(--navbar-height);
  height: 122px;
  height: var(--navbar-height);
  margin-bottom: 0;
  border: none;
  background: #37474f;
  background: var(--bluegrey800);
}
.navbar--component---2UCEi,
.navbar--report-info-cnt---8y9Bb {
  display: -webkit-flex;
  display: flex;
}
.navbar--report-info-cnt---8y9Bb {
  overflow: hidden;
  padding-right: 12px;
}
.navbar--menu-button---1ZRpz {
  border: none;
  background: transparent;
  padding: 0;
}
.navbar--menu-button---1ZRpz:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
  outline: none;
}
.navbar--menu-button---1ZRpz {
  cursor: pointer;
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
  height: 40px;
  margin: 8px 8px 0;
  padding: 8px;
  color: hsla(0, 0%, 100%, 0.5);
  color: var(--light-icon-inactive);
}
.navbar--menu-button---1ZRpz:hover {
  color: #fff;
  color: var(--light-icon-active);
}
.navbar--report-title---3bXCv {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: var(--font-family--light);
  color: #fff;
  font-size: 18px;
  line-height: 52px;
  line-height: calc(var(--navbar-height-short) - 4px);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar--pct-bar---3EwW-:after,
.navbar--pct-bar---3EwW-:before {
  content: " ";
  display: table;
}
.navbar--pct-bar---3EwW-:after {
  clear: both;
}
.navbar--pct-bar---3EwW- {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
}
.navbar--pct-bar---3EwW- .navbar--pass---2oR-w {
  background-color: #4caf50;
  background-color: var(--green500);
}
.navbar--pct-bar---3EwW- .navbar--fail---3mN80 {
  background-color: #f44336;
  background-color: var(--red500);
}
.navbar--pct-bar---3EwW- .navbar--pend---2iqjh {
  background-color: #03a9f4;
  background-color: var(--ltblue500);
}
.navbar--pct-bar-segment---3T0_o {
  height: 4px;
}
@media (min-width: 768px) {
  .navbar--component---2UCEi {
    min-height: 56px;
    min-height: var(--navbar-height-short);
    height: 56px;
    height: var(--navbar-height-short);
    -webkit-flex-direction: initial;
    flex-direction: row;
  }
  .navbar--report-info-cnt---8y9Bb {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.quick-summary--trans-color---HUJqE {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.quick-summary--cnt---3s38x {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0 12px;
}
.quick-summary--list---2_80W:after,
.quick-summary--list---2_80W:before {
  content: " ";
  display: table;
}
.quick-summary--list---2_80W:after {
  clear: both;
}
.quick-summary--list---2_80W {
  list-style: none;
  padding-left: 0;
  transition: opacity 0.2s ease-out;
  margin: 0 0 8px;
}
.quick-summary--item---bfSQ0,
.quick-summary--list---2_80W {
  display: -webkit-flex;
  display: flex;
}
.quick-summary--item---bfSQ0 {
  font-family: var(--font-family--light);
  -webkit-align-items: flex-start;
  align-items: flex-start;
  color: #fff;
  font-size: 16px;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}
.quick-summary--item---bfSQ0 button {
  border: none;
  background: transparent;
  padding: 0;
}
.quick-summary--item---bfSQ0 button:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
  outline: none;
}
.quick-summary--item---bfSQ0 button {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.quick-summary--item---bfSQ0 button:hover .quick-summary--icon---TW1oG {
  border-color: #fff;
}
.quick-summary--item---bfSQ0.quick-summary--tests---2nNut {
  color: #fff;
}
.quick-summary--item---bfSQ0.quick-summary--passes---3IjYH
  .quick-summary--icon---TW1oG {
  color: #388e3c;
  color: var(--green700);
  background-color: #c8e6c9;
  background-color: var(--green100);
}
.quick-summary--single-filter---31Thy
  .quick-summary--item---bfSQ0.quick-summary--passes---3IjYH
  .quick-summary--icon---TW1oG {
  background-color: #e0e0e0;
  background-color: var(--grey300);
  color: #9e9e9e;
  color: var(--grey500);
}
.quick-summary--single-filter--passed---3QnUL
  .quick-summary--item---bfSQ0.quick-summary--passes---3IjYH
  .quick-summary--icon---TW1oG {
  color: #fff;
  background-color: #388e3c;
  background-color: var(--green700);
}
.quick-summary--item---bfSQ0.quick-summary--failures---14s29
  .quick-summary--icon---TW1oG {
  color: #d32f2f;
  color: var(--red700);
  background-color: #ffcdd2;
  background-color: var(--red100);
}
.quick-summary--single-filter---31Thy
  .quick-summary--item---bfSQ0.quick-summary--failures---14s29
  .quick-summary--icon---TW1oG {
  background-color: #e0e0e0;
  background-color: var(--grey300);
  color: #9e9e9e;
  color: var(--grey500);
}
.quick-summary--single-filter--failed---3_tAw
  .quick-summary--item---bfSQ0.quick-summary--failures---14s29
  .quick-summary--icon---TW1oG {
  color: #fff;
  background-color: #d32f2f;
  background-color: var(--red700);
}
.quick-summary--item---bfSQ0.quick-summary--pending---261aV
  .quick-summary--icon---TW1oG {
  color: #0288d1;
  color: var(--ltblue700);
  background-color: #b3e5fc;
  background-color: var(--ltblue100);
}
.quick-summary--single-filter---31Thy
  .quick-summary--item---bfSQ0.quick-summary--pending---261aV
  .quick-summary--icon---TW1oG {
  background-color: #e0e0e0;
  background-color: var(--grey300);
  color: #9e9e9e;
  color: var(--grey500);
}
.quick-summary--single-filter--pending---21lZM
  .quick-summary--item---bfSQ0.quick-summary--pending---261aV
  .quick-summary--icon---TW1oG {
  color: #fff;
  background-color: #0288d1;
  background-color: var(--ltblue700);
}
.quick-summary--item---bfSQ0.quick-summary--skipped---tyOc4
  .quick-summary--icon---TW1oG {
  color: #616161;
  color: var(--grey700);
  background-color: #f5f5f5;
  background-color: var(--grey100);
}
.quick-summary--single-filter---31Thy
  .quick-summary--item---bfSQ0.quick-summary--skipped---tyOc4
  .quick-summary--icon---TW1oG {
  background-color: #e0e0e0;
  background-color: var(--grey300);
  color: #9e9e9e;
  color: var(--grey500);
}
.quick-summary--single-filter--skipped---1AdZA
  .quick-summary--item---bfSQ0.quick-summary--skipped---tyOc4
  .quick-summary--icon---TW1oG {
  color: #fff;
  background-color: #616161;
  background-color: var(--grey700);
}
.quick-summary--icon---TW1oG {
  position: relative;
  top: 2px;
  font-size: 18px;
  margin-right: 4px;
}
.quick-summary--circle-icon---1HDS7 {
  font-size: 12px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid transparent;
  transition: border-color 0.2s ease-out;
}
@media (min-width: 768px) {
  .quick-summary--cnt---3s38x {
    -webkit-flex-direction: initial;
    flex-direction: row;
    padding: 14px 12px 0 0;
  }
  .quick-summary--list---2_80W {
    margin: 0;
  }
  .quick-summary--item---bfSQ0 {
    font-size: 18px;
    -webkit-flex-basis: initial;
    flex-basis: auto;
    margin: 0 12px;
  }
  .quick-summary--icon---TW1oG {
    font-size: 24px;
    width: 24px;
    top: 0;
  }
  .quick-summary--circle-icon---1HDS7 {
    font-size: 18px;
  }
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.radio-button--trans-color---egsik {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.radio-button--component---1ix3c:after,
.radio-button--component---1ix3c:before {
  content: " ";
  display: table;
}
.radio-button--component---1ix3c:after {
  clear: both;
}
.radio-button--component---1ix3c {
  position: relative;
  height: 24px;
}
.radio-button--outer---a_NqL {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  border: 2px solid #4caf50;
  border: 2px solid var(--green500);
  border-radius: 12px;
  cursor: pointer;
  transition: border-color 0.2s ease-out;
}
.radio-button--off---dBAOK {
  border-color: color(#000 tint(73.5%));
  border-color: var(--gray-medium);
}
.radio-button--inner---3bo9Q {
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #4caf50;
  background-color: var(--green500);
}
.radio-button--off---dBAOK .radio-button--inner---3bo9Q {
  background-color: #fff;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio-button--inner---3bo9Q {
  transition: all 0.15s cubic-bezier(0.23, 1, 0.32, 1);
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.test--trans-color---3sP2r {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.test--component---1mwsi {
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid var(--grey300);
}
.test--component---1mwsi.test--expanded---3hI0z.test--passed---38wAs
  .test--body-wrap---3EGPT,
.test--component---1mwsi.test--expanded---3hI0z.test--passed---38wAs
  .test--header-btn---mI0Oy {
  border-left-color: #4caf50;
  border-left-color: var(--green500);
}
.test--component---1mwsi.test--expanded---3hI0z.test--failed---2PZhW
  .test--body-wrap---3EGPT,
.test--component---1mwsi.test--expanded---3hI0z.test--failed---2PZhW
  .test--header-btn---mI0Oy {
  border-left-color: #f44336;
  border-left-color: var(--red500);
}
.test--list---24Hjy {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.test--header-btn---mI0Oy {
  display: -webkit-flex;
  display: flex;
  position: relative;
  background: #fff;
  border: none;
  border-left: 3px solid transparent;
  cursor: pointer;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 16px 10px 13px;
  transition: border-color 0.2s ease-out;
  width: 100%;
}
.test--header-btn---mI0Oy[disabled] {
  cursor: default;
}
.test--header-btn---mI0Oy:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
  outline: none;
}
.test--header-btn---mI0Oy:focus:not([disabled]),
.test--header-btn---mI0Oy:hover:not([disabled]) {
  border-left-color: #9e9e9e;
  border-left-color: var(--grey500);
}
.test--title---4c0rg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: var(--font-family--regular);
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-right: 12px;
  text-align: left;
}
.test--hook---3T4lI .test--title---4c0rg {
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
}
.test--expanded---3hI0z .test--title---4c0rg {
  line-height: 1.5;
  padding-top: 3px;
  white-space: normal;
}
.test--icon---2jgH_ {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
  margin-right: 16px;
}
.test--icon---2jgH_.test--pass---C1Mk7 {
  color: #c8e6c9;
  color: var(--green100);
  background-color: #4caf50;
  background-color: var(--green500);
}
.test--icon---2jgH_.test--fail---3u2w0 {
  color: #ffcdd2;
  color: var(--red100);
  background-color: #f44336;
  background-color: var(--red500);
}
.test--icon---2jgH_.test--pending---3Ctfm {
  color: #b3e5fc;
  color: var(--ltblue100);
  background-color: #03a9f4;
  background-color: var(--ltblue500);
}
.test--icon---2jgH_.test--skipped---3aU0Y {
  color: #f5f5f5;
  color: var(--grey100);
  background-color: #9e9e9e;
  background-color: var(--grey500);
}
.test--icon---2jgH_.test--hook---3T4lI {
  color: rgba(0, 0, 0, 0.38);
  color: var(--black38);
  padding: 0;
}
.test--failed---2PZhW .test--icon---2jgH_.test--hook---3T4lI {
  color: #f44336;
  color: var(--red500);
}
.test--info---1UQNw {
  display: -webkit-flex;
  display: flex;
}
.test--duration---2tVp5 {
  font-family: var(--font-family--regular);
  line-height: 24px;
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
}
.test--component---1mwsi:hover:not(.test--pending---3Ctfm)
  .test--duration---2tVp5,
.test--expanded---3hI0z .test--duration---2tVp5 {
  color: rgba(0, 0, 0, 0.87);
  color: var(--black87);
}
.test--duration---2tVp5 {
  transition: color 0.2s ease-out;
}
.test--duration-icon---2KnOU {
  margin-left: 4px;
  line-height: 24px !important;
  color: rgba(0, 0, 0, 0.38);
  color: var(--black38);
}
.test--duration-icon---2KnOU.test--slow---MQOnF {
  color: #e57373;
  color: var(--red300);
}
.test--duration-icon---2KnOU.test--medium---5j890 {
  color: #fbc02d;
  color: var(--yellow700);
}
.test--context-icon---2POzC {
  position: relative;
  line-height: 24px !important;
  color: rgba(0, 0, 0, 0.38);
  color: var(--black38);
  margin-right: 8px;
  top: 1px;
}
.test--body-wrap---3EGPT {
  border-left: 3px solid transparent;
  transition: border-color 0.2s ease-out;
}
.test--expanded---3hI0z .test--body-wrap---3EGPT {
  display: block;
  padding-bottom: 10px;
}
.test--body---Ox0q_ {
  display: none;
  background-color: #fafafa;
  border: 1px solid #eceff1;
  border: 1px solid var(--grey50);
  border-radius: 4px;
}
.test--expanded---3hI0z .test--body---Ox0q_ {
  display: block;
  margin: 0 16px 0 13px;
}
.test--error-message---3Grn0 {
  color: #f44336;
  color: var(--red500);
  font-size: 12px;
  margin: 10px 0 0;
  text-align: left;
  width: 100%;
  word-break: break-word;
}
.test--code-snippet---3H5Xj {
  position: relative;
  font-size: 11px;
  margin: 0;
  border-radius: 0;
}
.test--code-snippet---3H5Xj + .test--code-snippet---3H5Xj {
  border-top: 1px solid #fff;
}
.test--code-snippet---3H5Xj.hljs {
  padding: 1em;
  background: none;
}
.test--code-diff---2XQsb code > span:first-child {
  margin-right: 11px;
}
.test--code-diff-expected---1QWLl span {
  color: #859900;
}
.test--inline-diff---3OmYO .test--code-diff-expected---1QWLl {
  background-color: #859900;
  color: #fff;
}
.test--code-diff-actual---3MMxN span {
  color: #dc322f;
}
.test--inline-diff---3OmYO .test--code-diff-actual---3MMxN {
  background-color: #dc322f;
  color: #fff;
}
.test--code-label---1QEUY {
  position: absolute;
  font-family: var(--font-family--regular);
  top: 0;
  right: 0;
  padding: 0.2em 0.6em;
  background-color: #9e9e9e;
  background-color: var(--grey500);
  color: #fff;
}
.test--context---1YYgX {
  background-color: #fff;
  border-top: 1px solid #eceff1;
  border-top: 1px solid var(--grey50);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.test--context-title---HHH10 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--font-family--regular);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
  margin: 0;
  padding: 11px 11px 0;
}
.test--context-item---R1NNU {
  padding-top: 11px;
}
.test--context-item---R1NNU .test--code-snippet---3H5Xj {
  padding-top: 0;
}
.test--context-item-title---1KxIO {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--font-family--medium);
  font-size: 13px;
  margin: 0;
  padding: 0 11px 11px;
}
.test--text-link---2_cSn {
  display: inline-block;
  padding: 0 1em 1em;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-family: var(--font-family-mono);
  font-size: 11px;
  color: #0288d1;
  color: var(--ltblue700);
}
.test--text-link---2_cSn:hover {
  color: #03a9f4;
  color: var(--ltblue500);
}
.test--image-link---PUFPJ,
.test--video-link---1L-2D {
  display: inline-block;
  font-size: 11px;
  padding: 0 1em 1em;
}
.test--image---2Z5X2,
.test--video---2JK7O {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.suite--trans-color---2pu6T {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.suite--component---22Vxk:after,
.suite--component---22Vxk:before {
  content: " ";
  display: table;
}
.suite--component---22Vxk:after {
  clear: both;
}
.suite--component---22Vxk {
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
}
.suite--component---22Vxk
  > .suite--body---1itCO
  > ul
  > li
  > .suite--component---22Vxk {
  border: 1px solid #e0e0e0;
  border: 1px solid var(--grey300);
  border-right: none;
  border-bottom: none;
  margin: 16px 0 16px 16px;
}
.suite--component---22Vxk
  > .suite--body---1itCO
  > ul
  > li
  > .suite--component---22Vxk.suite--no-tests---l47BS {
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid var(--grey300);
}
.suite--list---3WtMK {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.suite--list-main---3KCXR > li > .suite--component---22Vxk,
.suite--root-suite---ZDRuj {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 0 24px;
}
.suite--list-main---3KCXR
  > .suite--no-tests---l47BS
  > .suite--body---1itCO
  > ul
  > li
  > .suite--component---22Vxk:not(.suite--no-suites---2PQFQ) {
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid var(--grey300);
}
.suite--header---TddSn:after,
.suite--header---TddSn:before {
  content: " ";
  display: table;
}
.suite--header---TddSn:after {
  clear: both;
}
.suite--header---TddSn {
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid var(--grey300);
}
.suite--no-tests---l47BS > .suite--header---TddSn {
  padding-bottom: 0;
  border-bottom: none;
}
.suite--header-btn---25qLz {
  background: #fff;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  text-align: left;
  width: 100%;
}
.suite--header-btn---25qLz:focus {
  box-shadow: 0 0 2px 0 #03a9f4;
  box-shadow: 0 0 2px 0 var(--ltblue500);
  outline: none;
}
.suite--title---3T6OR {
  display: -webkit-flex;
  display: flex;
  font-family: var(--font-family--light);
  font-size: 21px;
  margin: 0;
}
.suite--title---3T6OR span {
  margin-right: auto;
}
.suite--title---3T6OR .suite--icon---2KPe5 {
  margin-left: 58px;
}
.suite--filename---1u8oo {
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
  font-family: var(--font-family--regular);
  margin: 6px 0 0;
}
.suite--body---1itCO:after,
.suite--body---1itCO:before {
  content: " ";
  display: table;
}
.suite--body---1itCO:after {
  clear: both;
}
.suite--body---1itCO.suite--hide---2i8QF {
  display: none;
}
.suite--has-suites---3OYDf > .suite--body---1itCO {
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid var(--grey300);
}
.suite--chart-wrap---7hvUh {
  display: none;
  position: absolute;
  top: 12px;
  right: 36px;
  width: 50px;
  height: 50px;
}
.suite--chart-slice---1XN2j {
  stroke: #fff;
  stroke-width: 2px;
}
.ct-series-a .suite--chart-slice---1XN2j {
  fill: #4caf50;
  fill: var(--green500);
}
.ct-series-b .suite--chart-slice---1XN2j {
  fill: #f44336;
  fill: var(--red500);
}
.ct-series-c .suite--chart-slice---1XN2j {
  fill: #03a9f4;
  fill: var(--ltblue500);
}
.ct-series-d .suite--chart-slice---1XN2j {
  fill: rgba(0, 0, 0, 0.38);
  fill: var(--black38);
}
@media (min-width: 768px) {
  .suite--chart-wrap---7hvUh {
    display: block;
  }
  .suite--chart-enabled---1N-VF:not(.suite--no-tests---l47BS)
    .suite--header---TddSn {
    min-height: 66px;
  }
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.suite-summary--trans-color---14JXk {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.suite-summary--component---cFAkx:after,
.suite-summary--component---cFAkx:before {
  content: " ";
  display: table;
}
.suite-summary--component---cFAkx:after {
  clear: both;
}
.suite-summary--component---cFAkx {
  list-style: none;
  padding-left: 0;
  display: -webkit-flex;
  display: flex;
  font-family: var(--font-family--regular);
  font-size: 15px;
  margin: 16px 0 0;
}
.suite-summary--component---cFAkx.suite-summary--no-margin---3WX9n {
  margin: 0;
}
.suite-summary--summary-item---JHYFN {
  display: -webkit-flex;
  display: flex;
  line-height: 18px;
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
}
.suite-summary--summary-item---JHYFN:first-child {
  margin-left: 0;
}
.suite-summary--summary-item---JHYFN.suite-summary--duration---AzGUQ,
.suite-summary--summary-item---JHYFN.suite-summary--tests---3Zhct {
  color: rgba(0, 0, 0, 0.54);
  color: var(--black54);
}
.suite-summary--summary-item---JHYFN.suite-summary--passed---24BnC {
  color: #4caf50;
  color: var(--green500);
}
.suite-summary--summary-item---JHYFN.suite-summary--failed---205C4 {
  color: #f44336;
  color: var(--red500);
}
.suite-summary--summary-item---JHYFN.suite-summary--pending---3_Nkj {
  color: #03a9f4;
  color: var(--ltblue500);
}
.suite-summary--summary-item---JHYFN.suite-summary--skipped---TovqF {
  color: rgba(0, 0, 0, 0.38);
  color: var(--black38);
}
.suite-summary--icon---3rZ6G {
  margin-right: 2px;
}
:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 56px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
  --gray-base: #000;
  --gray-darker-faded: color(var(--gray-darker) alpha(95%));
  --gray-darker: color(var(--gray-base) tint(13.5%));
  --gray-dark: color(var(--gray-base) tint(20%));
  --gray: color(var(--gray-base) tint(33.5%));
  --gray-light: color(var(--gray-base) tint(46.7%));
  --gray-medium: color(var(--gray-base) tint(73.5%));
  --gray-lighter: color(var(--gray-base) tint(93.5%));
  --gray-lighter-faded: color(var(--gray-lighter) alpha(95%));
  --gray-border: color(var(--gray-base) tint(80%));
  --grey50: #eceff1;
  --grey100: #f5f5f5;
  --grey300: #e0e0e0;
  --grey500: #9e9e9e;
  --grey700: #616161;
  --green100: #c8e6c9;
  --green200: #a5d6a7;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --red100: #ffcdd2;
  --red300: #e57373;
  --red500: #f44336;
  --red700: #d32f2f;
  --ltblue100: #b3e5fc;
  --ltblue300: #4fc3f7;
  --ltblue500: #03a9f4;
  --ltblue700: #0288d1;
  --black87: rgba(0, 0, 0, 0.87);
  --black54: rgba(0, 0, 0, 0.54);
  --black38: rgba(0, 0, 0, 0.38);
  --bluegrey500: #607d8b;
  --bluegrey800: #37474f;
  --bluegrey900: #263238;
  --light-icon-active: #fff;
  --light-icon-inactive: hsla(0, 0%, 100%, 0.5);
  --dark-icon-active: var(--black54);
  --dark-icon-inactive: var(--black38);
  --amber300: #ffd54f;
  --amber400: #ffca28;
  --amber500: #ffc107;
  --yellow700: #fbc02d;
  --yellow800: #f9a825;
  --brand-primary: color(#428bca shade(6.5%));
  --brand-success: #4caf50;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;
  --text-color: var(--black87);
  --body-bg: #f2f2f2;
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--link-color) shade(15%));
  --list-group-border: #ddd;
  --font-family-sans-serif: "robotoregular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  --font-size-base: 14px;
  --line-height-base: 1.429;
  --line-height-computed: 20px;
  --headings-font-family: inherit;
  --headings-font-weight: 400;
  --headings-line-height: 1.1;
  --headings-color: inherit;
  --headings-small-color: var(--gray-light);
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: var(--font-size-base);
  --font-size-h6: 12px;
  --font-family-light: "robotolight";
  --font-family-regular: "robotoregular";
  --font-family-medium: "robotomedium";
  --link-transition: color 0.2s ease-out;
}
.toggle-switch--trans-color---16in9 {
  transition: color 0.2s ease-out;
  transition: var(--link-transition);
}
.toggle-switch--component---3vjvh:after,
.toggle-switch--component---3vjvh:before {
  content: " ";
  display: table;
}
.toggle-switch--component---3vjvh:after {
  clear: both;
}
.toggle-switch--component---3vjvh {
  height: 24px;
}
.toggle-switch--label---1Lu8U {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.toggle-switch--toggle-input---3BB7e {
  position: absolute;
  opacity: 0;
}
.toggle-switch--toggle-input---3BB7e:checked + .toggle-switch--toggle---2kPqc {
  background-color: #a5d6a7;
  background-color: var(--green200);
}
.toggle-switch--toggle-input---3BB7e:checked
  + .toggle-switch--toggle---2kPqc:before {
  background-color: #4caf50;
  background-color: var(--green500);
  -webkit-transform: translateX(14px);
  transform: translateX(14px);
}
.toggle-switch--toggle-input---3BB7e:focus
  + .toggle-switch--toggle---2kPqc:before {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12),
    0 0 2px 0 #03a9f4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12),
    0 0 2px 0 var(--ltblue500);
}
.toggle-switch--toggle---2kPqc {
  display: inline-block;
  position: relative;
  background-color: #e0e0e0;
  background-color: var(--grey300);
  border-radius: 7px;
  cursor: pointer;
  height: 14px;
  margin-left: auto;
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  width: 34px;
}
.toggle-switch--toggle---2kPqc:before {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  content: "";
  position: absolute;
  background-color: #9e9e9e;
  background-color: var(--grey500);
  border-radius: 100%;
  height: 20px;
  left: 0;
  top: -3px;
  width: 20px;
  transition: -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.toggle-switch--disabled---1qDLf {
  opacity: 0.6;
}
.toggle-switch--disabled---1qDLf .toggle-switch--icon---348nT {
  color: rgba(0, 0, 0, 0.38);
  color: var(--black38);
}
.toggle-switch--disabled---1qDLf .toggle-switch--toggle---2kPqc {
  cursor: default;
}
